@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s ease-out;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-tracking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.start-tracking button {
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #fdf497, #fd5949, #d6249f, #285AEB);
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.start-tracking button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.start-tracking p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 60px 0 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.circle strong {
    font-size: 72px;
    line-height: 72px;
}

.circle span {
    font-size: 18px;
    line-height: 1;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.statistics {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.statistics h3 {
    margin: 20px 0 10px;
    font-size: 14px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.statistics p {
    font-size: 18px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.relapse-button {
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #ff416c, #ff4b2b);
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.relapse-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}