 .start-tracking {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding-top: 10%; */
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	justify-content: center;
	/* height: 100vh; */
}

/* Style for hiding the increment and decrement buttons on input of type number */
.start-tracking input[type=number]::-webkit-inner-spin-button,
.start-tracking input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	/* for Chrome, Safari */
	margin: 0;
}
.start-tracking input[type=number] {
	-moz-appearance: textfield;
	/* for Firefox */
}

.start-tracking p {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.start-tracking form {
	display: flex;
	gap: 10px;
	flex-direction: column;
	width: 100%;
	max-width: 200px;
}

.start-tracking label {
	margin-bottom: 10px;
	color: #FFF;
	font-size: 18px;
}

.start-tracking .input-container input {
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #FFF;
	background-color: rgba(255, 255, 255, 0.1);
	color: #FFF;
	outline: none;
	margin-bottom: 20px; 
  }

.start-tracking input {
	font-size: 13px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #FFF;
	background-color: rgba(255, 255, 255, 0.1);
	color: #FFF;
	outline: none;
}

.start-tracking input:focus {
	background-color: rgba(255, 255, 255, 0.2);
	border-color: #fdf497;
}

.start-tracking button {
	font-size: 20px;
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(135deg, #fdf497, #fd5949, #d6249f, #285AEB);
	color: white;
	cursor: pointer;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.start-tracking button:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
} 